/*h1{
	font-size: 2em;
	margin-top: 1%;
}

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1.3em;
	margin: 1%;
}

#headerArea{
	text-align: center;
	margin-bottom: 1%;
}

#managementArea{
	text-align: center;
	background-color: rgb(212, 225, 240);
	width: 30%;
	margin: 0 auto;
	padding: 1%;
}

.loginField{
	width: 70%;
	margin: 1% auto;
	padding: 1%;
	border: none;
	font-size: 1em;
	background-color: #FAFAFA;
	border: 1px solid #DADADA;
}

#managementArea{
	text-align: center;
	margin: 0.5% auto;
}

.loginLink{
	text-decoration: none;
	color: #FAFAFA;
	padding: 2%;
	border: none;
	margin: 0.5% auto;
	width: 40%;
	transition: all 0.2s ease-in-out;
	background-color: #2465ab;
	text-transform: uppercase;
}

.loginLink:hover{
	background-color: #e84338;
	color: #FAFAFA;
	cursor: pointer;
}

h4{
	width: 72%;
	text-align: left;
	margin: 0 auto;
}*/